@()
<!DOCTYPE html>
<html>

<head>
  <title>Synapse</title>
  <link  href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet"/>
  <link  href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet"/>
  <link  href="@routes.Assets.at("bootstrap/css/demo_chat.css")" rel="stylesheet"/>
</head>

<body>
<div class="container">

  <hr>
  <div class="row-fluid">
    <div class="span12 text-center">
      <input id="make_username" type="text">
      <a class="btn btn-primary" id="make_btn">make</a>
    </div>
  </div>
  <hr>

  <div class="row-fluid" id="users"></div>

</div>

<script src="@routes.Assets.at("bootstrap/js/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/synapse.js")" type="text/javascript"></script>
<script>
  var id=0;

  var callback = function (receive_data){
    console.log("-=receive=-");console.log(receive_data);
    $(".cells").append('\
      <div class="cell">\
        <span class="author label label-inverse">'+receive_data.username+'</span>\
        <span class="maeesage">'+receive_data.message+'</span>\
      </div>\
    ');
  }
  var synapse = new Synapse(callback);
  function SynapseStart(){synapse.join("msg");}

  $(function(){

    $("#make_btn").on("click", function(){
      id++;
      name=$("#make_username").val();
      if(name==""){return;}
      $("#users").append('\
        <div class="span4 user" id="user_id'+id+'">\
          <div>\
            <span class="label label-info username">'+name+'</span>\
            <input class="message" type="text">\
            <a class="btn post">Say</a>\
          </div>\
          <div class="cells"></div>\
        </div>\
      ');
      $("#user_id"+id+" .post").data("key","user_id"+id)

      $("#user_id"+id+" .post").on("click", function(){
        var id = $(this).data("key");
        var send_data = {};
        send_data.username=$("#"+id+" .username").text();
        send_data.message=$("#"+id+" .message").val();
        synapse.notify("msg",send_data);
      });

    });

  });

</script>
  </body>
</html>