@()
<!DOCTYPE html>
<html>
  <head>
    <title>Synapse</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  </head>
  <body>


<input id="msg" type="text">
<input id="btn" type="button" value="send" onclick="onSend()">
<h2 id="room"></h2>

<script type="text/javascript">

  const url = "ws://localhost:9000/synapse/room";
  var WebSocket = window['MozWebSocket'] ? MozWebSocket : WebSocket
  var ws = new WebSocket(url)
  var received = document.getElementById("room");
  ws.onmessage =
    function(event){
    received.innerText = event.data;
  }
  var message  = document.getElementById("msg");
  function onSend(){
    var send_data = {}
    send_data.message=message.value;
    send_data.kind="msg"
    ws.send(send_data);
  }
  window.onunload = function(){
    var code = 4500;
    var reason = "Disconnect";
    ws.close(code,reason);
  }

</script>


    </body>
</html>