@()
<!DOCTYPE html>
<html>
  <head>
    <script src="@routes.Assets.at("javascripts/synapse.js")" type="text/javascript"></script>
  </head>

  <body>
  <input id="msg" type="text">
  <input id="btn" type="button" value="send" onclick="onSend()">
  <h4 id="rcv"></h4>

  <script>
    var callback = function (data){
      var ele = document.createElement("div");
      var str = document.createTextNode(data);
      ele.appendChild(str);
      document.getElementById("rcv").appendChild(ele);}
    var s = new Synapse(callback);

    var message = document.getElementById("msg");
    function onSend(){
      s.join("msg");
      var send_data = {}
      send_data.message=message.value;
      send_data.kind="input-text";
      s.notify("msg",JSON.stringify(send_data));
    }
  </script>

  </body>
</html>